:root {
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}

#app {
  background: url("../images/bg-main-desktop.png") no-repeat left top;
  font-family: "Space Grotesk", sans-serif;
  background-size: 35% 100%;
}

@media screen and (max-width: 767px) {
  #app {
    background: url("../images/bg-main-mobile.png") no-repeat top center;
    background-size: 100% 30%;
  }
}
